<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Мой Магазин</title>
    <style>
        body { font-family: sans-serif; padding: 20px; }
        table { border-collapse: collapse; width: 100%; }
        th, td { border: 1px solid #ddd; padding: 8px; }
        th { background-color: #f2f2f2; }
        .price-low { color: green; font-weight: bold; }
    </style>
</head>
<body>

<h1>Список товаров</h1>
<div sec:authorize="hasRole('ADMIN')">
    <h2>Добавить новый товар</h2>
    <form method="post" th:action="@{/store}">
        <input type="text" name="name" placeholder="Название" required>
        <input type="number" name="price" placeholder="Цена" required>
        <button type="submit">Добавить</button>
    </form>
    <hr>
</div>

<table>
    <thead>
    <tr>
        <th>Действие</th>
        <th>ID</th>
        <th>Название</th>
        <th>Цена</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="p : ${products}">
        <td>
            <form th:action="@{/store/delete/{id}(id=${p.id})}" method="post" sec:authorize="hasRole('ADMIN')">
                <button type="submit" style="color: red;">Удалить 🗑</button>
            </form>
        </td>
        <td th:text="${p.id}">1</td>
        <td th:text="${p.name}">iPhone</td>
        <td th:text="${p.price}" th:class="${p.price < 5000} ? 'price-low' : ''">9999</td>
    </tr>
    </tbody>
</table>
<hr>
<div sec:authorize="isAuthenticated()">
    <p>
        Вы вошли как: <b sec:authentication="name"></b>
        <span sec:authorize="hasRole('ADMIN')">(Администратор)</span>
    </p>

    <form th:action="@{/logout}" method="post">
        <button type="submit">Выйти</button>
    </form>
</div>

<div sec:authorize="!isAuthenticated()">
    <a href="/login">Войти в систему</a>
</div>
</body>
</html>